*{
    font-family: jetbrains mono;
}
body {
    margin: 0;
    background-image: url("images/background-img.jpg");
}
h1 {
    font-size: 3em;
    color: #fff;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}
section {
    float: left;
    width: 60%;
    background-color: #fff;
}
#header {
    background-color: #282934;
    color: #fff;
}
#logoc{
    margin: 0 0 0 50px;
    width: 220px;
    color: #fff;
}
.container {
    width: 95%;
    margin: 0 auto 0 auto;
    background-color: rgba(0, 0, 0, 0.438);
}
#menu {
    background-color: #282934;
    float: left;
    width: 20%;
    height: 100%;
    margin: 0 0 0 0;
}
#menu ul {
    list-style-type: none;
    margin: 30px auto 20px 70px;
    padding: 0;
}
#menu ul li {
    padding: 10px 0 10px 0;
}
#compi{
    background-color: aqua;
    float: right;
    width: 80%;
    height: auto;
    margin: 0 0 0 0;
}